/* Prevent white flash in the mail viewer, when viewing mails in dark mode. */
html.dark-mode #message-content,
html.dark-mode #messagebody,
html.dark-mode .message-objects,
html.dark-mode .message-part,
html.dark-mode .message-htmlpart {
    background: #21292c !important;
    color: inherit !important;
}

/* Prevent white background in the windowed mail viewer, when viewing mails in dark mode. */
html.dark-mode body.task-mail.action-show {
    background: #21292c !important;
    color: #c5d1d3 !important;
}

/* Prevent white flash in the mail editor, when composing mails in dark mode. */
html.dark-mode .tox-edit-area__iframe {
    background: #21292c !important;
    color: inherit !important;
}
