/* Override project font. */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('/static.php/plugins/rpc_rcm_patches/fonts/InterWithVariableFeaturesAndRpc.woff2') format('woff2');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src: url('/static.php/plugins/rpc_rcm_patches/fonts/InterWithVariableFeaturesAndRpc.woff2') format('woff2');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('/static.php/plugins/rpc_rcm_patches/fonts/InterWithVariableFeaturesAndRpc.woff2') format('woff2');
}
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 700;
	src: url('/static.php/plugins/rpc_rcm_patches/fonts/InterWithVariableFeaturesAndRpc.woff2') format('woff2');
}
@font-face {
	font-family: 'Inter';
	src: url('/static.php/plugins/rpc_rcm_patches/fonts/InterWithVariableFeaturesAndRpc.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body,
button,
input,
optgroup,
select,
textarea,
.popover {
	font-family: 'Inter', serif;
}
