<?php

// Whether to override inline background styles in the mail viewer.
$config['strip_inline_backgrounds'] = false;

// Whether to use the modified Inter font.
$config['use_scandinavian_inter_font'] = true;
